/* GOOGLE FONTS  */

/* font-family: 'Aboreto', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;

 */
/* varaibles */

:root {
    /* globales */


    /* root: tiene mayor especificidad que html, pero en escencia son lo mismo */
    /* COLORES (a definir, para maquetado uso escala de azules) */
    --background-color: rgb(156, 155, 252);
    --sections-color: rgb(36, 32, 255);
    --text-color: rgb(0, 0, 0);
    --text-color-ligth: rgb(221, 220, 255);
    --article-color: #aef6ff;
}


html {

    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: beige;
}

.contenedor {
    background-color: var(--background-color);
    min-width: 600px;
    max-width: 2400px;
    margin: 16px auto;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 24px 24px;
    /* Multiplos de 8 para hacer pixel perfect en android  */
    /* 
    Para acomodar los elementos desde el contenedor padre en grid place-content	[align-content] [justify-content] 
 */
    place-content: stretch stretch;




/*     grid-template-areas: 
        "header header header header header"
        "navbar navbar navbar navbar navbar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "footer footer footer footer footer";
 */
}




.contenedor .header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-area: header;

}


.contenedor .navbar {

    font-size: 2em;

    background-color: var(--sections-color);
    color: var(--text-color-ligth);
    border: 2px;
    border-radius: 8px;


    display: flex;
    align-items: center;
    justify-content: space-evenly;



    grid-area: navbar;
}

.contenedor .contenido {

    display: flex;
    /*     flex-direction: column;
    flex-wrap: nowrap; */
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 24px 24px;

    gap: 24px 24px;

    grid-area: contenido;
}

.contenedor .contenido .articulo {

    background-color: var(--article-color);

    border: 2px;
    border-style: dashed;
    border-radius: 8px;

    border-color: rgb(0, 0, 0);


    

    min-height: 200px;
    align-items: stretch;

    min-width: 480px;
    max-width: 640px;
    margin: 12px 24px;
    





}

.contenedor .sidebar {

    background-color: var(--sections-color);
    border: 2px;
    border-radius: 8px;

    min-width: 50px;
    /* min-height: 80vh; */
    display: flex;
    justify-content: stretch;
    align-items: flex-start;


    grid-area: sidebar;

}


.contenedor .footer {

    background-color: var(--sections-color);
    border: 2px;
    border-radius: 8px;
    border-color: black;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: footer;
}

/* SMALL ANDROID */
@media screen and (max-width: 640px) {

    .contenedor {

        grid-template-areas: 
        "header header header header header"
        "navbar navbar navbar navbar navbar"
        "sidebar sidebar sidebar sidebar sidebar"
        "contenido contenido contenido contenido contenido"
        "contenido contenido contenido contenido contenido"
        "contenido contenido contenido contenido contenido"
        "contenido contenido contenido contenido contenido"
        "contenido contenido contenido contenido contenido"
        "footer footer footer footer footer";

    }

}

/* HD desktop  */
@media screen and (min-width: 640px) and (max-width: 1280px) {

    .contenedor {

        grid-template-areas: 
        "header header header header header"
        "navbar navbar navbar navbar navbar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "footer footer footer footer footer";


    }

} 

/* Full HD */

@media screen and (min-width: 1280px) {

    .contenedor {

        grid-template-areas: 
        "header header header header header"
        "navbar navbar navbar navbar navbar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "contenido contenido contenido contenido sidebar"
        "footer footer footer footer footer";

    }

    .contenedor .contenido {
        background-color: var(--sections-color);
         
        /* max-width: 2400px; */
        display: flex;
        /*     flex-direction: column;
        flex-wrap: nowrap; */
        flex-flow: row wrap;
    
        justify-content: space-evenly;
        align-items: stretch;
    
        gap: 16px 16px;
        
    
        grid-area: contenido;
    }

    .contenedor .contenido .articulo {

        /* min-height: 360px; */

        
    }

} 
